html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, div, header, nav, section, main {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #473932;
}

.container {
  width: 980px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  text-align: center;
  color: #fff;
  background: #000;

  h1 {
    display: inline-block;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    padding: 20px 0;
  }
}

nav {
  background: #fff;
  padding: 10px 0;

  & > div {
    display: flex;
    justify-content: space-around;

    a {

    }
  }
}

main .container {
  width: 700px;
  .squares {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 0 0;

    .square {
      width: 200px;
      max-width: 30%;
      height: 200px;
      background: #fff;
      margin: 0 0 20px;
      border-radius:10px;
    }
  }
}